DB_HOST=SEU_HOST
DB_PORT=PORT_BD
SALES_DEPT_EMAIL=EMAIL_DO_DEPARTAMENTO_DE_VENDAS
SALES_DEPT_PASSWORD=SENHA_DO_EMAIL_DO_DEPARTAMENTO_DE_VENDAS
DB_USERNAME=SEU_USERNAME
DB_PASSWORD=SUA_SENHA
DB_NAME=NOME_DO_SEU_BD
PAYPAL_MODE=sandbox
PAYPAL_CLIENT=YOUR_CLIENT_ID_BY_PAYPAL
PAYPAL_SECRET=YOUR_SECRET_ID_BY_PAYPAL
